.page-login {
  align-items: center;
  display: flex;
  height: 768px;
  justify-content: center;
}

.container {
  align-items: center;
  background-color: white;
  border-radius: 22px;
  box-shadow: 0 0 14px gray;
  display: flex;
  flex-direction: column;
  height: 454px;
  justify-content: space-evenly;
  padding: 20px 5px;
  width: 400px;
}

.container img {
  width: 80%;
}

.container form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.email-label input , .password-label input {
  border: none;
  border-bottom: 2px solid #dde4ea;
  color: hsla(224, 23%, 16%, 0.5);
  cursor: text;
  font-family: Bitter, serif;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  margin: 0;
  margin-bottom: 10px;
  outline: none;
  padding: 0 15px;
  width: 300px;
}

.email-label input:focus , .password-label input:focus {
  border-bottom: 2px solid #6f00ff;
}

.button-container {
  display: flex;
}

.button-container button {
  border: none;
  border-radius: 22px;
  color: white;
  font-family: Bitter, serif;
  font-size: 16px;
  font-weight: 700;
  height: 34px;
  margin: 10px 5px;
  outline: none;
  padding: 0 18px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  width: 165px;
}

.button-container button:disabled {
  background-color: #9470c9;
  box-shadow: 0 6px 0 #4d3172;
}

.button-container button:enabled {
  background-image: linear-gradient(#4700a3, #6f00ff, #8b33ff);
  box-shadow: 0 6px 0 #4700a3;
  cursor: pointer;
}

.email-label , .password-label {
  color: #202533;
  display: flex;
  flex-direction: column;
  font-family: Bitter, serif;
  font-weight: 600;
}

.Logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.Title-Container {
  display: inline-flex;
  font-family: Bitter, serif;
  font-size: 22px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.TitleOne , .TitleTwo {
  line-height: 30px;
  margin: 5px 0;
}

.TitleOne {
  color: #6f00ff;
}

