.table-element {
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  width: 100%;
}

.table-container {
  align-items: flex-start;
  background-color: white;
  border-radius: 22px;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 98%;
}

table thead , table tbody {
  height: auto;
  width: 100%;
}

table thead tr {
  align-items: center;
  background-color: #111;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  color: white;
  cursor: default;
  display: flex;
  font-family: Bitter, serif;
  font-size: 16px;
  height: 46px;
  justify-content: center;
  width: 100%;
}

table tbody tr {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

table thead th , table tbody td {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
}

table tbody td {
  font-family: Bitter, serif;
  font-size: 16px;
  height: 40px;
  padding-bottom: 5px;
}

table thead th:nth-child( 1 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  justify-content: space-around;
  width: 220px;
}

table tbody td:nth-child( 1 ) {
  width: 220px;
}

table thead th:nth-child( 2 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  max-width: 160px;
  width: 160px;
}

table tbody td:nth-child( 2 ) {
  max-width: 160px;
  width: 160px;
}


table thead th:nth-child( 3 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  padding: 0 5px;
  width: 180px;
}

table tbody td:nth-child( 3 ) {
  padding: 0 5px;
  width: 180px;
}


table thead th:nth-child( 4 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  width: 100px;
}

table tbody td:nth-child( 4 ) {
  width: 100px;
}


table thead th:nth-child( 5 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  width: 80px;
}

table tbody td:nth-child( 5 ) {
  width: 80px;
}


table thead th:nth-child( 6 ) , table thead th:nth-child( 7 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  padding: 0 5px;
  width: 140px;
}

table tbody td:nth-child( 6 ) , table tbody td:nth-child( 7 ) {
  padding: 0 5px;
  width: 140px;
}

table thead th:nth-child( 8 ) {
  border-right: 2px rgba(128, 128, 128, 0.589) solid;
  padding: 0 5px;
  width: 170px;
}

table tbody td:nth-child( 8 ) {
  padding: 0 5px;
  width: 170px;
}

table tbody td:nth-child( 9 ) {
  width: 160px;
}

table thead th:nth-child( 9 ) {
  width: 150px;
}

table tbody tr:nth-child( odd ) {
  background-color: lightgrey;
}

table tbody tr:nth-child( even ) {
  background-color: whitesmoke;
}

table tbody button {
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: Bitter, serif;
  font-size: 14px;
  font-weight: 600;
  height: 70%;
  margin: 0 5px;
  outline: none;
  padding: 0 8px;
}

.btn-delete {
  background-color: #ed1b24;
  box-shadow: 0 4px 0 0 #bd0f18;
}

.btn-edit {
  background-color: gold;
  box-shadow: 0 4px 0 0 rgb(160, 136, 1);
}

.btn-edit img , .btn-delete img {
  margin-top: 1.5px;
}
